* {
    /* makes all box sizing include the content, the padding and the margin in the specified value, margins are NOT included, asterix targets everthing */
    box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
    margin:0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 29px;
}

header, footer {
    padding: 7px;
    background-color: #00b0dc;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #00b0dc;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-left: 15px;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #000;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    padding: 3%;
}

img {
    max-width: 100%;
}

.hero {
    min-height: 200px;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-home {
    background-image: url(images/siesta-in-hammock@2x.jpg);
}

#hero-press {
    background-image: url(images/siesta-on-chair@2x.jpg);
}

#hero-siestacon {
    background-image: url(images/siesta-on-bike@2x.jpg);
    background-position: left;
}

#hero-contact {
    background-image: url(images/siesta-on-bench@2x.jpg);
}

main {
    padding-bottom: 50px;
}

h1, .subsection {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    color: #00b0dc;
    font-size: 34px;
    line-height: 41px;
}

.subsection {
    font-size: 28;
    line-height: 34px;
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
}

figure {
    margin: 0;
}

figcaption {
    color: grey;
    text-align: center;
}

.quote {
    margin-bottom: 0;
}

.source {
    margin-top: 0;
    margin-bottom: 50px;
}

.final-source {
    margin-bottom: 0;
}

.contact {
    padding: 0;
    margin: 0;
}

.contact-last {
    margin-bottom: 22px;
}

#contact-main-end {
    padding-bottom: 180px;
}

footer {
    text-align: center;
}

@media screen and (min-width: 900px) {
    .wrapper {
        padding: 0;
    }

    .hero {
        padding: 125px;
    }

    #contact-main-end {
        padding-bottom: 50px;
    }
}